<section class="screenshots grey-bg" id="levels">
  <div class="container">
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      <!-- SECTION TITLE -->
      <h2 class="dark-text">All Levels</h2>
      <div class="colored-line">
      </div>
    </div>
    <!-- /END SECTION HEADER -->
    <div *ngIf="updateStatus" class="alert alert-success alert-dismissible" role="alert">
      {{ updateStatus }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetUpdateStatus()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-md-12">
      <div>
        <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
        <a [routerLink]="['/admin/levels/create']" class="btn btn-success"> New Level</a>
      </div>
      <br />
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <mat-card id="ToggleGridColumnsContainer" class="result">
          <mat-card-content>
            <h5 class="example-h2">Toggle Columns</h5>

            <section class="toggle-columns-section">
              <mat-slide-toggle [(ngModel)]="ShowColumns.Level" color="primary">
                Level
              </mat-slide-toggle>

              <mat-slide-toggle [(ngModel)]="ShowColumns.Age" color="primary">
                Age
              </mat-slide-toggle>

              <mat-slide-toggle [(ngModel)]="ShowColumns.Start_Maxile_Level" color="primary">
                Start Maxile Level
              </mat-slide-toggle>

              <mat-slide-toggle [(ngModel)]="ShowColumns.End_Maxile_Level" color="primary">
                End Maxile Level
              </mat-slide-toggle>

              <mat-slide-toggle [(ngModel)]="ShowColumns.Description" color="primary">
                Description
              </mat-slide-toggle>

              <mat-slide-toggle [(ngModel)]="ShowColumns.Action" color="primary">
                Action
              </mat-slide-toggle>
            </section>
          </mat-card-content>
        </mat-card>
        <table class="table">
          <thead>
            <tr>
              <th [hidden]="!ShowColumns.Level" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                'mat-table-th_active': sortedByTitle,
                'mat-table-th_reversed': reversedByTitle,
                'mat-table-th_inactive': !reversedByTitle && !sortedByTitle
              }"
                  (click)="sortBy('title')">
                Level
              </th>
              <th [hidden]="!ShowColumns.Age" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                'mat-table-th_active': sortedByAge,
                'mat-table-th_reversed': reversedByAge,
                'mat-table-th_inactive': !reversedByAge && !sortedByAge
              }"
                  (click)="sortBy('age')">
                Age
              </th>
              <th [hidden]="!ShowColumns.Start_Maxile_Level" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                'mat-table-th_active': sortedByStart,
                'mat-table-th_reversed': reversedByStart,
                'mat-table-th_inactive': !reversedByStart && !sortedByStart
              }"
                  (click)="sortBy('start')">
                Start Maxile Level
              </th>
              <th [hidden]="!ShowColumns.End_Maxile_Level" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                'mat-table-th_active': sortedByEnd,
                'mat-table-th_reversed': reversedByEnd,
                'mat-table-th_inactive': !reversedByEnd && !sortedByEnd
              }"
                  (click)="sortBy('end')">
                End Maxile Level
              </th>
              <th [hidden]="!ShowColumns.Description" class="mat-table-th mat-table-th_clickable" [ngClass]="{
                'mat-table-th_active': sortedByDescription,
                'mat-table-th_reversed': reversedByDescription,
                'mat-table-th_inactive': !reversedByDescription && !sortedByDescription
              }"
                  (click)="sortBy('description')">
                Description
              </th>
              <th [hidden]="!ShowColumns.Action" class="mat-table-th action-2">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loading" class="mat-table-spinner-wrapper">
              <td colspan="6" align="center" class="mat-table-spinner">
                <mat-spinner color="#960000"></mat-spinner>
              </td>
            </tr>
            <tr *ngFor="let level of levels">
              <td [hidden]="!ShowColumns.Level">{{ level.level }}</td>
              <td [hidden]="!ShowColumns.Age">{{ level.age }}</td>
              <td [hidden]="!ShowColumns.Start_Maxile_Level">{{ level.start_maxile_level }}</td>
              <td [hidden]="!ShowColumns.End_Maxile_Level">{{ level.end_maxile_level }}</td>
              <td [hidden]="!ShowColumns.Description" align="left">{{ level.description }}</td>
              <td [hidden]="!ShowColumns.Action">
                <div class="btn-group" role="group" aria-label="First group">
                  <a (click)="editLevel(level.id)" class="btn btn-info"><i class="icon_pencil"></i></a>
                  <a (click)="openDialog(level.id)" class="btn btn-danger"><i class="icon_minus_alt2"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /END CONTAINER -->
</section>
