<div class="modal fade" id="editSkill" role="dialog">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" (click)="closeEditModal()">&times;</button>
	      <h4 class="modal-title">Edit Skill</h4>
	    </div>
	    <div class="modal-body">
		<div *ngIf="state=='success'" class="alert alert-success" role="alert"> {{ message }} </div>
		<div *ngIf="state=='error'" class="alert alert-danger" role="alert"> {{ message }} </div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<form novalidate class="form-horizontal" (ngSubmit)="updateSkill(skill)" #editSkillForm="ngForm">
				  <fieldset>
				    <div class="form-group">
			          <div class="col-lg-2">
			          	<label for="status_id">Skill Name</label>
			          </div>				    	
				      <div class="col-lg-10">
				        <input type="text" class="form-control" id="skill_name" name="skill_name" placeholder="Skill Name" [(ngModel)]="skill.skill" #skill_name="ngModel" required>
				           <div *ngIf="skill_name.errors?.required && skill_name.dirty" class="alert alert-danger">
				             Skill Name is required
				           </div>
				      </div>
				    </div>
				    <div class="form-group">
			          <div class="col-lg-2">
			          	<label for="status_id">Description</label>
			          </div>				    	
				      <div class="col-lg-10">
				        <textarea class="form-control" rows="1" id="description" name="description" placeholder="Skill Description" [(ngModel)]="skill.description" #description="ngModel"></textarea>
				      </div>
				    </div>
				    <div class='row'>
				        <div class="form-group col-md-12">
				          <div class="col-lg-4">
				          	<label for="status_id">Publishing</label>
				          </div>
				          <div class="col-lg-8">
							<select class="form-control" id="status_id" required [(ngModel)]="skill.status_id" #status_id="ngModel" name="status_id" placeholder="Skill's status">
								<option *ngFor="let status of statuses" [value]="status.id">
							        {{status.status}} - {{status.description}} </option>
							</select>
					      </div>
					    </div>
					 </div>
				        <div class="modal-footer">
						    <div class="form-group">
						      <div class="col-lg-6 col-lg-offset4">
						        <button type="submit" class="btn btn-primary">Update</button>
						      </div>
						    </div>
				        </div>
				   </fieldset>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</div>
