<div class="container" *ngIf =" (houses | async)?.length>0">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Enrolled Classes</h2>
		
		<div class="colored-line">
		</div><br />
		<div class="row">
			<div class="container">
			      <div class="row">
			           <ag-house *ngFor="let house of houses | async" [house]="house" (click)="onSelect(house)"></ag-house>
			      </div>
			</div>
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->	
</div>
<!-- /END CONTAINER -->
<div class="container" *ngIf ="(houses | async)?.length<1">
	<p>You are not enrolled in any class.</p>
</div>
