<section class="screenshots grey-bg" id="tracks">
  <div class="container">
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      <!-- SECTION TITLE -->
      <h2 class="dark-text">All Quizzes</h2>
      <div class="colored-line">
      </div>
    </div>
    <div *ngIf="updateStatus" class="alert alert-success alert-dismissible" role="alert">
      {{ updateStatus }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetUpdateStatus()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="copyMessage" class="alert alert-dismissible alert-absolute" [class.alert-success]="copyMessageSuccess" [class.alert-danger]="!copyMessageSuccess" role="alert">
      {{ copyMessage }}
    </div>
    <!-- /END SECTION HEADER -->
    <div class="col-md-12">
      <div>
        <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
        <a [routerLink]="['/admin/quizzes/create']" class="btn btn-success"> New Quiz </a>
      </div>
      <br />
    </div>
    <div class="row search-area">
      <div class="col-md-12 search-area-ctrl">
        <input (input)="doSearch($event.target.value)" class="form-control" type="text" placeholder="Search by Description | Track Title">
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <mat-card id="ToggleGridColumnsContainer" class="result">
            <mat-card-content>
              <h5 class="example-h2">Toggle Columns</h5>

              <section class="toggle-columns-section">
                <mat-slide-toggle [(ngModel)]="ShowColumns.quiz" color="primary">
                  Quiz
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.description" color="primary">
                  Description
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.diagnostic" color="primary">
                  Diagnostic
                </mat-slide-toggle>


                <mat-slide-toggle [(ngModel)]="ShowColumns.source" color="primary">
                  Source
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.start_available_time" color="primary">
                  Start Available Date
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.end_available_time" color="primary">
                  End Available Date
                </mat-slide-toggle>


                <mat-slide-toggle [(ngModel)]="ShowColumns.due_time" color="primary">
                  Due
                </mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="ShowColumns.Action" color="primary">
                  Action
                </mat-slide-toggle>
              </section>
            </mat-card-content>
          </mat-card>
          <table class="table">
            <thead>
              <tr>
                <th [hidden]="!ShowColumns.quiz">Quiz</th>
                <th [hidden]="!ShowColumns.description">Description</th>
                <th [hidden]="!ShowColumns.diagnostic">Diagnostic</th>
                <th [hidden]="!ShowColumns.source">Source</th>
                <th [hidden]="!ShowColumns.start_available_time">Start Available Date</th>
                <th [hidden]="!ShowColumns.end_available_time">End Available Date</th>
                <th [hidden]="!ShowColumns.due_time">Due</th>
                <th [hidden]="!ShowColumns.Action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loading" class="mat-table-spinner-wrapper">
                <td colspan="7" align="center" class="mat-table-spinner">
                  <mat-spinner color="#960000"></mat-spinner>
                </td>
              </tr>
              <tr id="quiz{{quiz.id}}" *ngFor="let quiz of quizzes">
                <td [hidden]="!ShowColumns.quiz" align="left">{{quiz.quiz}} </td>
                <td [hidden]="!ShowColumns.description" align="left">{{quiz.description}}</td>
                <td [hidden]="!ShowColumns.diagnostic">{{quiz.diagnostic}}</td>
                <td [hidden]="!ShowColumns.source">{{quiz.source}}</td>
                <td [hidden]="!ShowColumns.start_available_time">{{quiz.start_available_time}}</td>
                <td [hidden]="!ShowColumns.end_available_time">{{quiz.end_available_time}}</td>
                <td [hidden]="!ShowColumns.due_time">{{quiz.due_time}}</td>
                <!-- <ol *ngFor="let house of quiz.houses">
                  <li>{{house.house}}</li>
                </ol> -->
                <td [hidden]="!ShowColumns.Action">
                  <div class="btn-group" role="group" aria-label="First group">
                    <!-- <a [routerLink]="['/admin/tracks/edit', track.id]" class="btn btn-info"><i class="icon_pencil"></i></a>
                    <a [routerLink]="['/admin/tracks/delete', track.id]" class="btn btn-danger"><i class="icon_minus_alt2"></i></a> -->

                    <a [routerLink]="['/admin/quizzes/edit', quiz.id]" class="btn btn-info"><i class="icon_pencil"></i></a>
                    <a [routerLink]="['/admin/quizzes/delete', quiz.id]" class="btn btn-danger"><i class="icon_minus_alt2"></i></a>
                    <a (click)="copyQuiz(quiz.id)"  class="btn btn-success"><i class="fa fa-clone"></i></a>
                  </div>
                  <div class="action-box">
                    <div><b>Manage Quiz</b></div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info btn-sm" (click)="keepManageSkills(quiz.id)" title="Keep Manage Skills">
                        <i class="glyphicon glyphicon-eye-open"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="addManageHouses(quiz.id)" title="Add Manage Houses">
                        <i class="glyphicon glyphicon-remove"></i></button>
                      <button type="button" class="btn btn-info btn-sm" (click)="addManageQuestions(quiz.id)" title="Add Manage Questions">
                        <i class="glyphicon glyphicon-education"></i></button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /END CONTAINER -->
</section>
