<section class="screenshots grey-bg" id="levels">
  <div class="container">
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      <h2 class="dark-text">Add a New Level</h2>
      <div class="colored-line">
      </div>
    </div>
    <div *ngIf="status=='success'" class="alert alert-success" role="alert"> {{ message }} </div>
    <div *ngIf="status=='error'" class="alert alert-danger" role="alert"> {{ message }} </div>
    <div class="col-md-10 col-md-offset-1">
      <div>
        <a [routerLink]="['/admin/']" class="btn btn-default"> Back</a>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="well well bs-component">
        <form novalidate class="form-horizontal" (ngSubmit)="createLevel(createLevelForm.value)" #createLevelForm="ngForm">
          <fieldset>
            <div class="form-group">
              <label for="level" class="col-lg-2 control-label">Level Title</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="level" name="level" placeholder="Level Title" ngModel
                       #level="ngModel" required>
                <div *ngIf="level.errors?.required && level.touched" class="alert alert-danger">
                  Level Title is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description of the level"
                          ngModel #description="ngModel" required></textarea>
                <div *ngIf="description.errors?.required && description.touched" class="alert alert-danger">
                  Description is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="age" class="col-lg-2 control-label">Age</label>
              <div class="col-lg-10">
                <input type="number" class="form-control" id="age" name="age" placeholder="Age" ngModel
                       #age="ngModel" required>
                <div *ngIf="age.errors?.required && age.touched" class="alert alert-danger">
                  Age is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="start_maxile_level" class="col-lg-2 control-label">Start Maxile Level</label>
              <div class="col-lg-10">
                <input type="number" class="form-control" id="start_maxile_level" name="start_maxile_level" placeholder="Start Maxile Level" ngModel
                       #start_maxile_level="ngModel" required>
                <div *ngIf="start_maxile_level.errors?.required && start_maxile_level.touched" class="alert alert-danger">
                  Start Maxile Level is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="end_maxile_level" class="col-lg-2 control-label">End Maxile Level</label>
              <div class="col-lg-10">
                <input type="number" [customMin]="100" [customMax]="9999" class="form-control" id="end_maxile_level" name="end_maxile_level" placeholder="End Maxile Level" ngModel
                       #end_maxile_level="ngModel" required>
                <!--{{end_maxile_level.errors | json }}-->
                <div *ngIf="end_maxile_level.errors?.required && end_maxile_level.touched" class="alert alert-danger">
                  End Maxile Level is required
                </div>
                <div *ngIf="(!end_maxile_level.errors?.required)&&(end_maxile_level.errors?.customMin || end_maxile_level.errors?.customMax )&& end_maxile_level.touched" class="alert alert-danger">
                  The end maxile level must be between 100 and 9999
                </div>
                <!--<div *ngIf="end_maxile_level.errors?.customMax && end_maxile_level.touched" class="alert alert-danger">
                  Maximum 9999 Value Allowed
                </div>-->
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <a [routerLink]="['/admin/levels']" class="btn btn-default"> Cancel</a>
                <button type="submit" class="btn btn-primary" [disabled]="createLevelForm.invalid">Create</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
