<section class="screenshots grey-bg" id="units">

  <div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
       
      <h2 class="dark-text">Updating Unit: {{unit.unit}}</h2>
      
      <div class="colored-line">
      </div>
      
    </div>
    <div *ngIf="status=='success'" class="alert alert-success" role="alert"> {{ message }} </div>
    <div *ngIf="status=='error'" class="alert alert-danger" role="alert"> {{ message }} </div>
    <div class="col-md-10 col-md-offset-1">
  
    <div>
      <a [routerLink]="['/admin/units']" class="btn btn-default"> Back</a>
    </div>
  </div>
  
  <div class="col-md-10 col-md-offset-1">
    <div class="well well bs-component">
      <form novalidate class="form-horizontal" (ngSubmit)="updateUnit(unit)" #editUnitForm="ngForm">
        <fieldset> 
          <div class="form-group">
            <label for="unit" class="col-lg-2 control-label">Unit</label>
            <div class="col-lg-10">
              <input unit="text" class="form-control" id="unit_name" name="unit_name" placeholder="Unit Name" [(ngModel)]="unit.unit" #unit_name="ngModel" required>
              <div *ngIf="unit_name.errors?.required && unit_name.dirty" class="alert alert-danger">
                Unit Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="description" name="description" [(ngModel)]="unit.description" #description="ngModel" required></textarea>
              <div *ngIf="description.errors?.required && description.dirty" class="alert alert-danger">
                Description is required
              </div>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <a [routerLink]="['/admin/units']" class="btn btn-default"> Cancel</a>
              <button unit="submit" class="btn btn-primary" [disabled]="editUnitForm.invalid">Update</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  </section>